@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
html {
  scroll-behavior: smooth;
}

button {
  font-family: 'Poppins', sans-serif !important;
  cursor: pointer !important;
}

button:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
  border: 0px !important;
  box-shadow: none !important;
  cursor: pointer;
}

body {
  background-color: #1C1C38 !important;
  overflow-x: hidden;
}

/********SLIDE NAV**************/

.mylogo {
  width: 50px;
  height: 50px;
}

/*font-family: 'Krona One', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.nav-page {
  width: 100%;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #262626;
}

.tab-index {
  display: flex !important;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #141414;
  justify-content: center !important;
  align-items: center !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 1 !important;
}

#nav-container .bg-nav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}

#nav-container:focus-within .bg-nav {
  visibility: visible;
  opacity: .6;
}

#nav-container * {
  visibility: visible;
}

.tab-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  transition: .3s;
  cursor: pointer;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .tab-button {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 50%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content .nav-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content .nav-list .navlink {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content .nav-list .navlink:hover {
  color: #FC0E49;
  ;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

.navlink, .navlink:visited, .navlink:focus, .navlink:active, .navlink:link {
  text-decoration: none;
  outline: 0;
}

.navlink {
  color: currentColor;
  transition: .2s ease-in-out;
  color: #262626;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.nav-menu {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

/******hader*******/

.jumbotron {
  position: relative !important;
  top: 70px !important;
  background: #33333394 !important;
  background-image: url(../img/personal.jpg) !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: 0% 0px !important;
  height: 450px !important;
}

.header-title {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif !important;
}

.header-text {
  color: white;
  font-size: 40px !important;
  position: relative;
  top: -1px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
}

.header-text2 {
  color: whitesmoke;
  position: relative;
  top: 60px;
}

.txt-type>.txt {
  border-right: 0.2rem solid whitesmoke;
}

.container-title-text {
  position: relative;
  top: 50px;
}

/*****BUTTONS****/

.button-all {
  position: relative;
  top: 80px;
}

.btn1 {
  background-color: #FC0E49;
  color: white;
  padding: 9px !important;
  border-radius: 3px !important;
  cursor: pointer;
  width: 170px;
  font-size: 14px !important;
}

.btn1:hover {
  background-color: rgba(248, 25, 81, 0.822);
}

.btn2 {
  background-color: #135f61;
  color: white;
  padding: 9px !important;
  border-radius: 3px !important;
  cursor: pointer;
  width: 170px;
  position: relative;
  left: 5px !important;
  font-size: 14px !important;
}

.btn2:hover {
  background-color: #154b4e;
}

.angle-right1, .angle-right2 {
  font-size: 17px !important;
  position: relative !important;
  left: 5px !important;
  top: 2px !important;
}

/*****BUTTONS**END**/

/****SOCALS*****/

.socialbox {
  width: 30px;
  height: 30px;
  border: 1px solid #414141a4;
  transition: 0.2s;
}

.face {
  position: relative;
  left: 8px;
  top: 2px;
}

.tw {
  position: relative;
  left: 6px;
  top: 2px;
}

.sky {
  position: relative;
  left: 7px;
  top: 2px;
}

.yout {
  position: relative;
  left: 5px;
  top: 2px;
}

.link {
  color: #000 !important;
}

.socialbox:hover {
  background-color: #fc0e4ab4;
  color: white;
  border-color: #fc0e4ab4;
}

/****SOCALS**END***/

/******************SECTION 1 ***************************/

.section1 {
  padding-bottom: 250px;
}

.about-top1 {
  position: relative;
  top: 70px;
}

.about-top2 {
  position: relative !important;
  top: 150px !important;
}

.about-top3 {
  position: relative !important;
  top: 170px !important;
}

.aboutimg {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-img {
  width: 550px !important;
  height: 800px !important;
}

.about-title1 {
  position: relative;
  top: 20px;
  text-transform: uppercase;
  opacity: 0.1;
  font-size: 60px;
  font-weight: bold;
  color: #8283a0;
  font-family: "Oswald", sans-serif;
}

.about-title2 {
  font-family: "Oswald", sans-serif;
  font-size: 44px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 700;
}

.p1, .p2 {
  color: #8283a0;
}

.p3 {
  color: #135f61;
}

.about-text {
  color: #8283a0;
  font-size: 19px !important;
  position: relative !important;
  top: -35px !important;
}

.p2 {
  position: relative !important;
  top: -18px !important;
}

.p3 {
  position: relative !important;
  top: -32px !important;
}

/*****SOCIALS******/

.socials-top {
  position: relative;
  top: 160px;
}

.btn-social i {
  width: 47px;
  height: 47px;
  font-size: 16px;
  color: #fff;
  line-height: 45px;
  margin-right: 4px;
  transition: all 0.35s;
}

.linkedin {
  background-color: #0077b5;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.behance {
  background-color: #131418;
}

.dribble-li, .behance-li {
  position: relative !important;
  left: 2px !important;
  top: 2px !important;
}

.linkedin-li {
  position: relative !important;
  left: 3px !important;
  top: 2px !important;
}

.pinterest-li {
  position: relative !important;
  left: 5px !important;
  top: 2px !important;
}

.rounded-circle {
  border-radius: 50%!important;
}

.fb {
  background-color: blue;
}

.pinterest {
  background-color: #bd081c;
}

.dribble {
  background-color: #ea4c89;
}

.social-animation:hover {
  transform: translateY(-5px) !important;
  transition: 0.5s !important;
}

.social-animation {
  transition: 0.5s !important;
}

/*****SOCIALS**END****/

/*** PROGRES BAR******/

.progress-top {
  position: relative;
  top: 170px;
}

.progress-title {
  color: #8283a0 !important;
  font-family: 'Poppins', sans-serif;
}

.progress-bar {
  height: 10px !important;
}

.progress-number {
  color: #8283a0 !important;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: -20px;
}

.progress {
  position: relative;
  top: -20px !important;
}

/*** PROGRES BAR**END****/

/********SECTION 2*****(SERVICES) ****************/

.section2 {
  padding-bottom: 180px;
}

.services-top2 {
  position: relative !important;
  top: 0px !important;
}

.services-title1 {
  position: relative;
  top: 20px;
  text-transform: uppercase;
  opacity: 0.1;
  font-size: 60px;
  font-weight: bold;
  color: #8283a0;
  font-family: "Oswald", sans-serif;
}

.cards-top {
  position: relative;
  top: 80px;
}

.cards1, .cards2, .cards3, .cards4, .cards5, .cards6 {
  border-color: #3e3e4b !important;
  transition: 0.5s !important;
  border-radius: 10px !important;
}

.fas-icon1, .fas-icon2, .fas-icon3, .fas-icon4, .fas-icon5, .fas-icon6 {
  font-size: 30px !important;
  color: #135f61;
}

.cardtitle1, .cardtitle2, .cardtitle3, .cardtitle4, .cardtitle5, .cardtitle6 {
  color: #135f61;
  font-weight: 700!important;
  font-family: "Oswald", sans-serif;
  font-size: 1rem !important;
}

.cardtext1, .cardtext2, .cardtext3, .cardtext4, .cardtext5, .cardtext6 {
  color: #8283a0;
  line-height: 32px;
}

.cards1:hover, .cards2:hover, .cards3:hover, .cards4:hover, .cards5:hover, .cards6:hover {
  background-color: #135f61 !important;
  color: white !important;
  transition: 0.2s !important;
}

/**************SERVICES 3 *******MY WORK**********/

.section3 {
  padding-bottom: 200px;
}

.mywork-title {
  position: relative;
  top: 0px;
  text-transform: uppercase;
  opacity: 0.1;
  font-size: 60px;
  font-weight: bold;
  color: #8283a0;
  font-family: "Oswald", sans-serif;
}

.imgs-top {
  position: relative !important;
  top: 70px !important;
}

.btn4 {
  position: relative;
  top: 90px !important;
  color: #FFF !important;
  background: #FF4C60 !important;
  font-family: "Rubik", sans-serif !important;
  border-radius: 30px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  overflow: hidden !important;
  line-height: 1 !important;
  padding: 12px 32px !important;
  transition: 0.8s !important;
}

.modal-title {
  font-family: 'Poppins', sans-serif !important;
}

/******MY WORK ********/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background-color: #144a4d;
  font-family: 'Poppins', sans-serif !important;
}

.hovereffect .info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 10px;
  border: 1px solid #135f61;
  margin: 80px 0 0 0;
  background-color: transparent;
  background-color: #135f61;
  font-family: 'Poppins', sans-serif !important;
}

.hovereffect .info:hover {
  box-shadow: 0 0 5px #bdbed4;
}

.hovereffect .info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: white;
  text-transform: uppercase;
}

.hovereffect:hover .info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/******MY WORK ***END*****/

/*****************SECTION 4************************/

.section4 {
  padding-bottom: 150px;
  background-color: #1C1C38;
}

.count-number-top {
  position: relative;
  top: 0px;
}

.count-title {
  font-size: 60px;
  font-family: 'Poppins', sans-serif !important;
  color: white;
  font-weight: 700;
  text-align: center;
}

.count-text {
  text-align: center;
  font-size: 17px;
}

.count-timer {
  padding-bottom: 50px !important;
  border-color: #8283a0 !important;
}

.h1_h2 {
  position: relative !important;
  top: 22px !important;
}

/*****************SECTION 4*******END****************/

/*****************SECTION 5*************************/

.section5 {
  padding-bottom: 120px;
}

.pricing-title {
  position: relative;
  top: 20px;
  text-transform: uppercase;
  opacity: 0.1;
  font-size: 60px;
  font-weight: bold;
  color: #8283a0;
  font-family: "Oswald", sans-serif;
}

.pricing-top {
  position: relative !important;
  top: -100px !important;
}

.price-icons {
  width: 80px;
  height: 80px;
}

.plan-title {
  font-size: 28px !important;
  font-family: "Rubik", sans-serif !important;
  font-weight: 700 !important;
}

.cardprice {
  background-color: #302F4E!important;
  border-radius: 20px !important;
  transition: 0.8s !important;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-title {
  position: relative;
  left: 14px;
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px;
}

.box-price {
  width: 130px;
  height: 30px;
  background-color: #6C6CE5;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: rotate(270deg);
  position: absolute;
  top: 50px;
  left: -6px;
}

.cardpremium {
  background-color: #302F4E!important;
  border-radius: 20px !important;
  transition: 0.8s !important;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cardpremium:hover {
  transform: translateY(-20px) !important;
}

.cardprice:hover {
  transform: translateY(-20px) !important;
}

.cardprice-top {
  position: relative;
  top: 20px;
}

.plan-text {
  color: whitesmoke !important;
  font-family: 'Poppins', sans-serif !important;
}

.number-title {
  font-size: 46px !important;
  font-weight: 700 !important;
  color: white;
  font-family: "Rubik", sans-serif !important;
}

.month-title {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.btn3 {
  color: #FFF !important;
  background: #FF4C60 !important;
  font-family: "Rubik", sans-serif !important;
  border-radius: 30px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  overflow: hidden !important;
  line-height: 1 !important;
  padding: 12px 32px !important;
  transition: 0.8s !important;
}

.btn3:hover {
  transform: scale(0.9) !important;
}

em {
  font-style: normal;
  font-size: 14px;
  vertical-align: super;
  margin-right: 5px;
}

.price-link {
  text-decoration: none !important;
}

/*****************SECTION 5*****END******************/

/********************SECTION 6*********GALLERY*********/

.section6 {
  padding-bottom: 180px;
}

.gallery-title {
  position: relative;
  top: 20px;
  text-transform: uppercase;
  opacity: 0.1;
  font-size: 60px;
  font-weight: bold;
  color: #8283a0;
  font-family: "Oswald", sans-serif;
}

.gallery-top {
  position: relative !important;
  top: -40px !important;
}

.btn5 {
  position: relative;
  top: 90px !important;
  color: #FFF !important;
  background: #FF4C60 !important;
  font-family: "Rubik", sans-serif !important;
  border-radius: 30px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  overflow: hidden !important;
  line-height: 1 !important;
  padding: 12px 32px !important;
  transition: 0.8s !important;
}

/*******GALLERY HOVER*********/

.cardsgallery {
  position: relative;
  top: 60px;
}

.btn-secondary {
  background-color: #FF4C60 !important;
}

.btn-primary {
  background-color: #135f61 !important;
}

.box {
  background: linear-gradient(180deg, #135f61 0%, #222222 100%);
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
  overflow: hidden;
}

.box:before, .box:after, .box .box-content:before, .box .box-content:after {
  content: "";
  background: #fff;
  width: 50%;
  height: 4px;
  transform: scaleX(0);
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  transition: all 600ms ease;
}

.box:after {
  top: auto;
  bottom: 15px;
  left: auto;
  right: 15px;
}

.box .box-content:before, .box .box-content:after {
  width: 4px;
  height: 50%;
  transform: scaleY(0);
}

.box .box-content:after {
  left: auto;
  right: 15px;
  top: auto;
  bottom: 15px;
}

.box:hover:before, .box:hover:after, .box:hover .box-content:before, .box:hover .box-content:after {
  transform: scale(1);
}

.box img {
  width: 100%;
  height: auto;
  transform: scale3d(1.1, 1.1, 1);
  transition: all 0.25s linear;
}

.box:hover img {
  opacity: 0.25;
  transform: scale(1.25);
}

.box .inner-content {
  color: #fff;
  text-align: center;
  width: 70%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 70%;
  left: 50%;
  transition: all 600ms ease;
}

.box:hover .inner-content {
  opacity: 1;
  top: 50%;
}

.box .title {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 3px;
}

.box .post {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 0 12px;
  display: block;
}

.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
}

.box .icon li {
  display: inline-block;
  margin: 0 4px;
}

.box .icon li a {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  height: 35px;
  width: 35px;
  border: 2px solid #fff;
  border-radius: 10px 0 10px 0;
  display: block;
  transition: all 0.3s;
}

.box .icon li a:hover {
  color: #FF4C60;
  background: #fff;
  border-radius: 0 10px 0 10px;
}

@media only screen and (max-width:990px) {
  .box {
    margin: 0 0 30px;
  }
}

/********************SECTION 6**********END*****/

/********************SECTION 7**********/

.section7 {
  padding-bottom: 200px;
}

.contact-title {
  position: relative;
  top: 20px;
  text-transform: uppercase;
  opacity: 0.1;
  font-size: 60px;
  font-weight: bold;
  color: #8283a0;
  font-family: "Oswald", sans-serif;
}

.contact-top {
  position: relative !important;
  top: -10px !important;
}

.contact-cols {
  position: relative !important;
  top: 80px !important;
}

.location-title {
  color: #8283a0 !important;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.location-text1, .location-text2 {
  color: #747591 !important;
  font-family: 'Poppins', sans-serif !important;
}

.location-text2 {
  position: relative !important;
  top: -7px !important;
}

.contact-link {
  color: #135f61 !important;
  text-decoration: none !important;
}

/*****form*******/

.form-top {
  position: relative;
  top: 120px;
}

.btn6 {
  position: relative;
  top: 10px !important;
  color: #135f61 !important;
  background: #ff4c6100 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  overflow: hidden !important;
  letter-spacing: 1 !important;
  padding: 12px 32px !important;
  transition: 0.2s !important;
  border: 1px solid !important;
}

.btn6:hover {
  background-color: #135f61 !important;
  color: white !important;
  border-color: #135f61 !important
}

input, textarea {
  border-color: #3a3b47 !important;
  font-family: 'Poppins', sans-serif !important;
}

::placeholder {
  color: #5b5c6e !important;
}

/* Set the size of the div element that contains the map */

#map {
  height: 300px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/********************SECTION 7******END*****/

/**************FOOTER***********/

footer {
  padding-bottom: 120px;
  background-color: rgb(22, 22, 58);
}

.socialboxs {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #8283a0;
  cursor: pointer;
  transition: 0.3s;
}

.socialboxs:hover {
  background-color: #135f61;
  border-color: #135f61;
}

.twitter-icon, .youtube-icon, .skype-icon, .facebook-icon {
  color: #8283a0;
  position: relative;
  top: 14px;
  font-size: 17px !important;
}

.footer-socials {
  position: relative;
  top: 70px;
}

.copyright {
  color: #8283a0;
}

.author-top {
  position: relative;
  top: 80px;
}

.fa-heart {
  color: #FF4C60 !important;
}

.footer-link {
  text-decoration: none !important;
  color: rgb(158, 158, 158) !important;
}

.footer-link:hover {
  color: #FF4C60 !important;
}

.footer-menu {
  position: relative;
  top: 6px;
}

/**************************RESPONSIVE******************************************/

@media (max-width: 320px) {
  .btn1 {
    padding: 8px !important;
    width: 120px !important;
    font-size: 10px !important;
  }
  .btn2 {
    padding: 8px !important;
    width: 120px !important;
    font-size: 10px !important;
  }
  .jumbotron {
    position: relative !important;
    top: 70px !important;
    height: 150px !important;
  }
  .navlink {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  /*******HEADER*******/
  .container-title-text {
    position: relative !important;
    top: 20px !important;
  }
  .header-title {
    font-size: 12px;
  }
  .header-text {
    font-size: 16px !important;
    position: relative;
    top: -1px;
  }
  .header-text2 {
    position: relative;
    top: 25px;
    font-size: 13px;
  }
  .button-all {
    position: relative;
    top: 40px;
  }
  .btn1 {
    padding: 8px !important;
    width: 130px;
    font-size: 10px !important;
  }
  .btn2 {
    padding: 8px !important;
    width: 130px;
    font-size: 10px !important;
  }
  .angle-right1, .angle-right2 {
    font-size: 13px !important;
    position: relative !important;
    left: 5px !important;
    top: 2px !important;
  }
  .jumbotron {
    position: relative !important;
    top: 70px !important;
    height: 300px !important;
  }
  .navlink {
    font-size: 15px !important;
  }
  /***************SECTION 1 ABOUT US************************/
  .about-img {
    width: 260px !important;
    height: 380px !important;
    position: relative !important;
    top: -20px !important;
  }
  .about-title1 {
    text-transform: uppercase;
    opacity: 0.1;
    font-size: 40px;
    font-weight: bold;
    color: #8283a0;
    font-family: "Oswald", sans-serif;
    position: relative !important;
  }
  .about-top2 {
    position: relative !important;
    top: 120px !important;
  }
  .socials-top {
    position: relative;
    top: 100px;
  }
  .btn-social i {
    width: 42px;
    height: 42px;
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    margin-right: 4px;
    transition: all 0.35s;
  }
  .section1 {
    padding-bottom: 80px !important;
  }
  .about-title2 {
    font-size: 25px;
    position: relative !important;
    top: -40px !important;
  }
  .p2 {
    position: relative !important;
    top: -32px !important;
  }
  .p3 {
    position: relative !important;
    top: -65px !important;
  }
  .about-text {
    color: #8283a0;
    font-size: 15px !important;
    position: relative !important;
    top: -105px !important;
  }
  .progress-top {
    position: relative;
    top: 120px;
  }
  /***************SECTION 2 SERVICES************************/
  .section2 {
    padding-bottom: 100px !important;
  }
  .cards-top {
    position: relative;
    top: 90px;
  }
  .services-top2 {
    position: relative !important;
    top: 30px !important;
  }
  .services-title1 {
    position: relative;
    top: 20px;
    text-transform: uppercase;
    font-size: 40px;
  }
  /***************SECTION 3 *MYWORK**********************/
  .section3 {
    padding-bottom: 130px;
  }
  .mywork-title {
    position: relative;
    top: 0px;
    text-transform: uppercase;
    font-size: 40px;
  }
  /*****************SECTION 4************************/
  .section4 {
    padding-bottom: 80px;
  }
  .count-number-top {
    position: relative;
    top: 40px;
  }
  .count-title {
    font-size: 40px;
  }
  .count-text {
    font-size: 17px;
  }
  /***************SECTION 5**********************/
  .pricing-top {
    position: relative !important;
    top: 0px !important;
  }
  .pricing-title {
    position: relative;
    top: 20px;
    font-size: 40px;
  }
  .cardprice-top {
    position: relative;
    top: 70px;
  }
  /******************sSECTION 6********************/
  .section6 {
    padding-bottom: 90px !important;
  }
  .btn5 {
    position: relative;
    top: 50px !important;
  }
  .gallery-title {
    position: relative;
    top: 20px;
    text-transform: uppercase;
    opacity: 0.1;
    font-size: 40px;
    font-weight: bold;
    color: #8283a0;
    font-family: "Oswald", sans-serif;
  }
  .gallery-top {
    position: relative !important;
    top: -20px !important;
  }
  /********************SECTION 7**********/
  .section7 {
    padding-bottom: 180px;
  }
  .contact-title {
    position: relative;
    top: 20px;
    text-transform: uppercase;
    opacity: 0.1;
    font-size: 40px;
    font-weight: bold;
    color: #8283a0;
    font-family: "Oswald", sans-serif;
  }
  .contact-top {
    position: relative !important;
    top: -5px !important;
  }
  .location-title {
    font-size: 18px !important;
  }
  .location-text1 {
    font-size: 15px !important;
  }
  /************FOOTER**************/
  footer {
    padding-bottom: 70px;
  }
  .footer-link {
    font-size: 12.5px !important;
  }
  .copyright {
    font-size: 14px !important;
  }
  .footer-socials {
    position: relative;
    top: 50px;
  }
  .author-top {
    position: relative;
    top: 50px;
  }
  .socialboxs {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #8283a0;
    cursor: pointer;
    transition: 0.3s;
  }
  .twitter-icon, .youtube-icon, .skype-icon, .facebook-icon {
    color: #8283a0;
    position: relative;
    top: 12px;
    font-size: 14px !important;
  }
  .footer-menu {
    position: relative;
    top: 3px;
  }
  .form-top {
    position: relative;
    top: 100px;
  }
  .btn6 {
    position: relative;
    top: 10px !important;
    color: #135f61 !important;
    background: #ff4c6100 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    overflow: hidden !important;
    letter-spacing: 1 !important;
    padding: 10px 20px !important;
    transition: 0.2s !important;
    border: 1px solid !important;
  }
}